*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(hintergrund.png) no-repeat;
    background-size: cover;
    background-position: center;
    
}


.Main{
    width: 400px;
    background: transparent;
    border: 2px solid grey;
    backdrop-filter: blur(20px);
    
    color: white;
    border-radius: 15px;
    padding: 30px 50px;
}

.Main h1{
    font-size: 30px;
    text-align: center;
    
}



.Main .Daten {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.Daten input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    padding: 20px;
}

.Daten input::placeholder {
    color: white;
}

.Daten i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.Main .anmeldebox{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.anmeldebox label input{
    margin-right: 3px;
    color: white;
}

.anmeldebox a{
    color: white;
    text-decoration: none;
}

.anmeldebox a:hover{
    text-decoration: underline;
}

.Main .Anmelden{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.Main #Link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

#Link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#Link p a:hover{
    text-decoration: underline;
}

.Login-Register {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;

  }
  
  .Login-Register{
    background-color: transparent;
    border: 2px solid grey;
  }

  button{
    text-decoration: none ;
    background-color: transparent;
    font-size: 17px;
    border: none;
    color: white;
    
  }