.Header{
    display: flex;
    justify-content: left;
    background-color: white;
    margin: 0px;
    
}

body{
    background-image: url("Hintergrund.jpg");
}

h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;


}

