Header{
    display: flex;
    justify-content: left;
    background-color: white;
    height: 50px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
    
    
}

body{
    background-image: url("Hintergrund.jpg");
    margin: 0;
}


h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;


}
.Text{
    display: flex;
    justify-content: center;
    align-items: center;
}

